# Naver Book Search API: https://developers.naver.com/docs/serviceapi/search/book/book.md
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=

# Kakao Book Search API: https://developers.kakao.com/docs/latest/ko/daum-search/dev-guide#search-book
KAKAO_CLIENT_API_KEY=